@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
* {
	font-family: 'Quicksand';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(223, 223, 223);
}

section {
	background-color: rgb(245, 245, 245);
	box-shadow: 2px 2px 10px #aaaaaa;
}

.foto {
	text-align: center;
	margin-top: 30px;
}

.foto img {
	box-shadow: 2px 2px 10px #aaaaaa;
	padding: 10px;
	border-radius: 50%;
}

.name {
	text-align: center;
	font-size: 25pt;
	margin-top: 50px;
}

.about-me {
	margin-top: 50px;
	padding: 20px;
}

.about-me h2 {
	text-align: center;
}

.about-me .line {
	width: 10%;
	background-color: #aaaaaa;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-radius: 100%;
}
.about-me blockquote {
	margin-top: 20px;
	font-weight: bold;
}

.about-me p,
.contact blockquote {
	margin-top: 10px;
	text-align: justify;
	line-height: 1.5;
}

.about-me p a {
	text-decoration: none;
	color: black;
}

.thank-you {
	text-align: center;
}

.thank-you blockquote {
	font-size: 15pt;
	font-weight: bold;
	margin-top: 50px;
}

footer {
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 50px;
}
